body{
    text-align: center;
    margin: 8px;
    background-color: #283149;
    
}

h1{
    font-family: Arvo;
    font-weight: 800;
    font-size: 5rem;
    margin: 5% auto;
    color: #DBEDF3;
    text-shadow: 3px 0 #da0463;
}

footer{
    font-family: sans-serif;
    font-size: 1rem;
    color: whitesmoke;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.sets{
    margin: 10% 0;
}

.w{
    background-image: url("../images/tom1.png");
}

.a{
    background-image: url("../images/tom2.png");
}

.s{
    background-image: url("../images/tom3.png");
}

.d{
    background-image: url("../images/tom4.png");
}

.j{
    background-image: url("../images/snare.png");
}

.k{
    background-image: url("../images/crash.png");
}

.l{
    background-image: url("../images/kick.png");
}

.drum{
    font-family: Arvo;
    font-weight: 900;
    font-size: 5rem;
    border: 10px solid #404B69;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin: 10px;
    color: #da0463;
    line-height: 2;
    background-color: #fff;
    text-shadow: 3px 0 #dbedf3;
    display: inline-block;
}